[submodule "asio"]
	path = asio
	url = https://github.com/boostorg/asio.git
[submodule "beast"]
	path = beast
	url = https://github.com/boostorg/beast.git
[submodule "date"]
	path = date
	url = https://github.com/HowardHinnant/date.git
